*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
#MAIN{
    height: 40%;
    width: 65%;
    padding: 50%;
    background-color: blanchedalmond;
    background-image: url(https://images.unsplash.com/photo-1786352260444-20539d92fee0?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#car1{
    position: relative;
    height: 20px;
    width: 20px;
    background-color: aqua;
}
#car2{
    position: absolute;
    left: 40%;
    height: 30px;
    width: 30px;
    background-color: mediumslateblue;
}#car3{
    height: 40px;
    width: 40px;
    background-color: green;
}
#box{
    display: flex;
    
    width: 50%;
    height: 50%;
    background-color: bisque;
}
#box1{
    width: 20px;
    height: 20px;
    background-color: blue;
}
#box2{
    width: 30px;
    height: 30px;
    background-color:black;
}
#box3{
    width: 40px;
    height: 40px;
    background-color: brown;
}
